@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Major Mono Display', monospace;
}

body {
    background-color: rgb(218, 216, 216);
}

header {
    display: flex;
    flex-direction: column;
    margin: 6vh 25vw;
    align-items: center;
    background-color: white; 
    padding: 2vh;
    border-radius: 30px;
}

header > h4 {
    font-size: 1.7rem;
    margin-top: 20px;
    text-align: center;
    color: darkslategray;
}

header > h1 {
    font-size: 4.1rem;
    margin: 10px;
    text-align: center;
    color: darkslategray;
}

header > h2 {
    font-size: 2.2rem;
    margin: 10px;
    text-align: center;
    color: darkslategray;
}

header > input {
    padding: 15px;
    width: 40vw;
    margin: 30px;
    text-align: center;
    border: 1px darkgrey solid;
    border-radius: 20px;
    font-size: 0.8rem;
}

header > input:focus {
    outline: none;
}

header > p {
    font-size: 0.7rem;
    color: slategray;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    line-height: 20px;
}

button {
    background-color: #51aefa;
    border-style: none;
    height: 7vh;
    width: 14vw;
    color: white;
    margin: 10px 10px 25px 10px;
    border-radius: 25px;
    font-size: 25px;
    transition: 400ms ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: 400ms ease;
    box-shadow: 0px 3px 7px 3px rgba(0,0,0,0.2);
}

button:focus {
    outline: none;
}

.colors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 30px 0px 30px;
}

.box {
    width: 110px;
    height: 110px;
    margin: 3px;
    color: whitesmoke;
    text-align: center;
    line-height: 110px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1400ms ease-out;
}

.box:hover {
    transform: rotate(360deg);
    transition: 600ms ease;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.2);
}

.message {

    position: fixed;
    top: 47%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
    color: rgb(236, 232, 232);
    font-size: 2rem;
    text-align: center;
    line-height: 90px;
    border: 5px #fff solid;
    border-radius: 20px;
    background-color: #51aefa;    
    }